body {
    background: rgb(137, 137, 135);
    font-family: 'Kaisei Opti', serif;
    color: black;
    margin: 0;
}

.conteiner {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
}

.remove-underline {
    text-decoration: none;
}

.social-icons {
    width: 30px;
    margin: 5px;
}

.foto-principal {
    border: 5px double white;
    border-radius: 50%;
    margin: 5%;
    box-shadow: 10px 10px 10px black;
}

h1 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(69, 58, 58);
    font-weight: 100;
    letter-spacing: 5px;
}

h4 {
    margin-bottom: 0px;
}

h5 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-style: italic;
}

.p-margin {
    margin-top: 5px;
}

.job-list {
    list-style: none;
    padding-left: 20px;
}

.footer {
    padding: 5px 0;
    background-color: black;
    color: white;
    text-align: center;
}